{% extends 'base.html' %}

{% block body %}


<div class="container" style="padding-bottom: 30px; margin-top: 20px;">
    <div class="row">
        <h1 style="align-content: center;">Contactános!</h1>
        <form action="/contacto" method="post">
            {% csrf_token %}
            <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
                <label> {{form.customer_name.label}}</label>
                <div>{{form.customer_name}}</div>
                <div style="color: red;">{{form.customer_name.errors}}</div>
            </div>
            <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
                <label> {{form.customer_email.label}}</label>
                <div>{{form.customer_email}}</div>
                <div style="color: red;">{{form.customer_email.errors}}</div>
            </div>
            <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
                <label> {{form.message.label}}</label>
                <div>{{form.message}}</div>
                <div style="color: red;">{{form.message.errors}}</div>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="web/js/bs-init.js"></script>


{% endblock body %}